body{
    background: linear-gradient(to bottom, purple, violet 50%, purple);
    
}
.inicial{
    border: 2px solid black;
    padding-left: 2%;
    padding-bottom: .5%;
    background-color: aquamarine;
}
.titulo1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-decoration: underline;
}